# Data Science Bootcamp - Day 2
Tuesday, August 23, 2022

Joshua D. Ingram

## Module 3: Git and GitHub

## Module 4: Data Science Basics

In [4]:
import pandas as pd
import numpy as np

In [7]:
d = {"col1" : [1,2], "col2" : [3,4]}
df = pd.DataFrame{

   col1  col2
0     1     3
1     2     4