# Python Drivers for PostgreSQL

In [2]:

import psycopg2
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

ModuleNotFoundError: No module named 'psycopg2'

In [3]:
# Establish connection to database
conn = psycopg2.connect("dbname=jingram usr=jingram")

NameError: name 'psycopg2' is not defined

In [ ]:
# Create a database cursor
cur = conn.cursor()

In [ ]:
cur.execute("SELECT * FROM total_other_aid LIMIT 5;")
cur.fetchone()

In [ ]:
cur.execute("INSERT INTO financial_aid VALUES (%s, %s, %s)", [3, '2021-01-01', 750])

# Using with Pandas

In [ ]:
# Establish connection to database
conn = psycopg2.connect()

In [ ]:
charges = pd.io.sql.read_sql_query("SELECT charge, COUNT(*) AS n FROM charges GROUP BY charge ORDER BY n;", conn)